<div class="panel-group">
    <div ng-repeat="item in data">
        <div class="panel col-md-6"
             ng-class="{'panel-danger': !item.accepted, 'panel-success': item.accepted}">
            <div class="panel-heading">
                <span>{{item.message}}</span>
                <i class=" pull-right fa fa-times" aria-hidden="true" title="Usuń"></i>
            </div>
            <div class="panel-body">
                <div>
                    <strong>Wysłano: </strong>
                    <span>{{item.date}}</span>
                </div>
                <div>
                    <strong>Pokój: </strong>
                    <span>{{item.room}}</span>
                </div>
                <div>
                    <strong>Status:</strong>
                    <span class="text-danger"
                          ng-if="!item.accepted">Niepotwierdzona</span>
                    <span class="text-success"
                          ng-if="item.accepted">Potwierdzona</span>
                </div>
            </div>
        </div>
    </div>
</div>
