<div class="container-auth">

    <br>

    <div class="card card-container">

        <h2 class="text-center">Logowanie</h2>

        <hr>

        <div id="welcome-msg" class="alert alert-dismissable" ng-class="{'alert-success': notInfo.counter  == 0, 'alert-danger': notInfo.counter  != 0}" ng-if="!!notInfo">
            <a href="" class="close" data-dismiss="alert" aria-label="close">×</a>
            <p>Witaj {{notInfo.user}}!.</p>
            <p class="text-center" ng-if="notInfo.counter != 0">Masz {{notInfo.counter}} oczekujących powiadomień.</p>
            <p class="text-center" ng-if="notInfo.counter == 0">Nie masz oczekujących powiadomień</p>
        </div>

        <form name="formSignIn" class="form-sign-in">

            <label for="input-login" class="input-title">Login</label>

            <input type="text" id="input-login" class="login-box"
                   placeholder="101-2" autofocus="autofocus"
                   ng-model="loginBox" required>

            <label for="input-password" class="input-title">Hasło</label>

            <input type="password" id="input-password" class="login-box"
                   placeholder="******" ng-model="passwordBox" required>

            <button class="btn btn-lg btn-primary" type="submit"
                    ng-click="obSubmitClick()" ng-disabled="formSignIn.$invalid">
                Zaloguj
            </button>

            <div id="status-msg" class="text-center" ng-if="statusMsg">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <br>
                <span>{{statusMsg}}</span>
            </div>

        </form>
    </div>
</div>
