<div class="container-auth">

    <div class="card card-container">

        <h2 class="login-title text-center">Logowanie</h2>

        <hr>

        <div id="welcome-msg" class="alert alert-info alert-dismissable" ng-if="!!notInfo">
            <a href="" class="close" data-dismiss="alert" aria-label="close">×</a>
            <p>Witaj {{notInfo.user}}!.</p>
            <p>Masz {{notInfo.counter}} oczekujących powiadomień.</p>
        </div>

        <form class="form-sign-in">

            <p class="input-title">Login</p>

            <input type="text" id="input-login" class="login-box"
                   placeholder="101-2" required="required" autofocus="autofocus"
                   ng-model="loginBox">

            <p class="input-title">Hasło</p>

            <input type="password" id="input-password" class="login-box"
                   placeholder="******" required="required"
                   ng-model="passwordBox">

            <button class="btn btn-lg btn-primary" type="submit"
                    ng-click="obSubmitClick()">
                Zaloguj
            </button>

            <div id="status-msg" class="status-msg"
                 ng-bind="statusMsg">
            </div>

        </form>
    </div>
</div>
