<h2 class="text-center">Edytuj profil</h2>

<hr>

<div class="card card-container">

    <br>

    <dl class="dl-horizontal">
        <dt><label>Nazwa użytkownika</label></dt>
        <dd>{{user.user}}</dd>

        <br>

        <dt>Imię</dt>
        <dd editable-text="user.name" onaftersave="update()">{{user.name || 'Nie ustawiono'}}</dd>

        <br>

        <dt>Nazwisko</dt>
        <dd editable-text="user.surname" onaftersave="update()">{{user.surname || 'Nie ustawiono'}}</dd>

        <br>

        <dt>Numer telefonu</dt>
        <dd editable-text="user.mobile" onaftersave="update()">{{user.mobile || 'Nie ustawiono'}}</dd>

        <br>

        <dt>Adres email</dt>
        <dd editable-text="user.email" onaftersave="update()">{{user.email || 'Nie ustawiono'}}</dd>

        <br>

        <dt>Zgoda na<br/>powiadomienia<br/> przez e-mail</dt>
        <dd>
            <input type="checkbox" ng-model="user.wantEmail" ng-change="update()">
        </dd>

        <br>

        <dt>Zgoda na<br/>powiadomienia<br/>przez sms</dt>
        <dd>
            <input type="checkbox" ng-model="user.wantSms" ng-change="update()">
        </dd>

    </dl>

</div>
