<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>PZ projekt</title>
</head>
<body ng-app="PZApp">
    <header ui-view="navbar"></header>
    <div class="container-fluid view-container">
        <div class="margin-md">
            <div ui-view="body" class="view-frame"></div>
        </div>
    </div>
    <footer ui-view="footer">
    </footer>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.xeditable/0.5.0/css/xeditable.min.css"/>

    <link rel="stylesheet" href="style/auth.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.xeditable/0.5.0/js/xeditable.min.js"></script>

    <script src="script/x.app.js"></script>
    <script src="script/x.app.config.js"></script>
    <script src="script/x.app.init.js"></script>
    <script src="script/api.auth.js"></script>
    <script src="script/api.notification.js"></script>
    <script src="script/api.user.js"></script>
    <script src="script/api.sms.js"></script>
	<script src="script/api.email.js"></script>
	<script src="script/api.googleService.js"></script>
    <script src="script/svc.acc-types.js"></script>
    <script src="script/ctrl.main.js"></script>
    <script src="script/ctrl.navbar.js"></script>
    <script src="script/ctrl.auth.js"></script>
    <script src="script/ctrl.dashboard.js"></script>
    <script src="script/ctrl.notification.js"></script>
    <script src="script/ctrl.user.dashboard.js"></script>
    <script src="script/ctrl.profile.js"></script>
</body>
</html>
