<!DOCTYPE html>
<html lang="en"
      >
<head>
    <meta charset="UTF-8">
    <title>PZ projekt</title>
</head>
<body ng-app="PZApp">
    <header ui-view="navbar"></header>
    <div class="container-fluid view-container">
        <div class="margin-md">
            <div ui-view="body" class="view-frame"></div>
        </div>
    </div>
    <footer ui-view="footer">
    </footer>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/app.config.js"></script>
    <script src="scripts/navbar.controller.js"></script>
    <script src="scripts/dashboard.controller.js"></script>
    <script src="scripts/notification.service.js"></script>
    <script src="scripts/notification.route.js"></script>
    <script src="scripts/notification.controller.js"></script>



</body>
</html>