<!DOCTYPE html>
<html lang="en"
      >
<head>
    <meta charset="UTF-8">
    <title>PZ projekt</title>
    <script src="scripts/app.js"></script>
</head>
<body ng-app="PZApp">
    <header ui-view="navbar"></header>
    <div class="container-fluid view-container">
        <div class="margin-md">
            <div ui-view="content" class="view-frame"></div>
        </div>
    </div>
    <footer ui-view="footer">
    </footer>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/app.config.js"></script>
    <script src="scripts/navbar.controller.js"></script>
    <script src="scripts/dashboard.controller.js"></script>
    <script src="scripts/information.route.js"></script>
    <script src="scripts/information.controller.js"></script>


</body>
</html>
